<html>

<head>
    <title></title>   

</head>

<body>

    <div id="nav">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <p>New Post</p>
    </div>
    <div class="info">
        <form action="/posts/newPosts" method="POST">

            <div class="title">
                <input type="text" placeholder="   Enter Title...  " name="title">
            </div>
            <div class="markdown">
                <textarea rows="35" cols="55" placeholder=" Write Your Notes Here..." name="markdown"></textarea>
            </div>
            <div class="save">
                <button>Save</button>
            </div>

        </form>
    </div>


</body>

</html>